html {

    font-size: 62.5%;

    @media(max-width: 1199px) {

        font-size: 50%;

    }

}

body {

    font-size: $based-font-size;


}

@font-face {
    font-family: LemonMilk;
    src: url("fonts/LemonMilk.woff") format("woff"), url("fonts/LemonMilk.ttf")  format("truetype");
}
@font-face {
    font-family: PeaceSans;
    src: url("fonts/PeaceSans.woff") format("woff"), url("fonts/PeaceSans.ttf")  format("truetype");
}