$primary-color: #fff;
$secondary-color: #333333;
$third-color: #dc0000;
$lighter-secondary-color: #878787;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'PeaceSans', sans-serif;
$lemonmilk-font: 'LemonMilk', sans-serif;
$lato-font: 'Lato', sans-serif;
$based-font-size: 10px;